.App {
  text-align: center;
  background-image: url('./background/background1.jpg');
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}



